
<h1>Log In To Twitter</h1>
<form action="/signin" method="POST">
<label>Email: </label><input type="text" name="email"><br>
<label>Password: </label><input type="password" name="password"><br>
<input type="submit" name="submit">
</form>

<a href="/signup"> New User ? </a>
